<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>It's <span data-th-text="${pokemon.name}"></span></h1>
    <div></div>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Image</td>
                <td>Types</td>
                <td>Stats</td>
            </tr>
        </thead>
        <tbody>
            <tr data-th-object="${pokemon}">
                <td data-th-text="*{id}"></td>
                <td data-th-text="*{name}"></td>
                <td>
                    <img data-th-src="*{img}" data-th-alt="*{name}">
                </td>
                <td>
                    <p data-th-each="type : *{type}" data-th-text="${type}"></p>
                </td>
             
                <td>
                    <p>HP : <span data-th-text="*{stats.hp}"></span></p>
                    <p>Attack : <span data-th-text="*{stats.attack}"></span></p>
                    <p>Defense : <span data-th-text="*{stats.defense}"></span></p>
                    <p>SP Attack : <span data-th-text="*{stats.spattack}"></span></p>
                    <p>SP Defense : <span data-th-text="*{stats.spdefense}"></span></p>
                    <p>Speed : <span data-th-text="*{stats.speed}"></span></p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>